<h1>Voting Buddy</h1>


<%#= link_to "Add Voting Buddy", friendships_path(friend_id => user), :method => :post %> 



<form>
  <div class="row">
    <div class="large-6 columns">
      <label>Enter your address
        <input type="text" placeholder="Your address" />
      </label>
    </div>
  </div>
</form>