<h1>My Profile</h1>

  <h2>My Voting Buddy</h2>

  <ul>
        <% for friendship in @user.friendships %>
            <li>
            </li>

  </ul>

  <p>Enter address to find Polling Place</p>

  







