


<h1><strong>VOTING BUDDY</strong></h1>
<h2>Because the Political Process is not a Spectator Sport</h2>


<%#= link_to "Add Voting Buddy", friendships_path(friend_id => user), :method => :post %> 

