<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

<div id="myModal" class="reveal-modal" data-reveal>
  <%= render '/devise/sessions/new'
  <a class="close-reveal-modal">&#215;</a>
</div>

 <%= link_to 'Login', new_user_session_path, 'data-reveal-id' => 'signIn', remote: true, class: 'main-menu-light fi-torso' %>
    <% end %> 


  # <div id="signUp" class="reveal-modal" data-reveal>
  #   <%= render '/devise/registrations/sign_up' %>
  # <a class="close-reveal-modal">&#215;</a>
  # </div> -->